<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue中的set方法</title>
    <script src="vue.js"></script>
  </head>
  <body>
    <div id="app">
      <div v-for="item of userinfo">
        <!-- <div v-for="(item,key,index) of userinfo"> -->
        <!-- {{item}} --- {{key}} --- {{index}} -->
        {{item}}
      </div>
    </div>

    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          userinfo: [1, 2, 3, 4],
          //   {
          //     name: "Dell",
          //     age: 28,
          //     gender: "male",
          //     salary: "secret",
          //   },
        },
      });
    </script>
  </body>
</html>
