/* -------------导航栏样式------------------ */
* {
  border: 0px;
  margin: 0px;
  padding: 0px;
}
.navi {
  /*border: 1px solid red;*/
  height: 40px;
  background-color: #3b99fc;
}
.navi .navi_item,
.navi_item1 {
  /*border: 1px solid green;*/
  width: 145px;
  height: 40px;
  float: left;
  list-style: none;
  text-align: center; /*设置文本左右居中*/
  line-height: 40px; /*设置文本行高跟外边框一样高，文本自然就上下居中了*/
  color: white;
}
.navi ul {
  width: 1160px;
  height: 40px;
  /*border: 1px solid yellow;*/
  margin: auto;
}
.navi .navi_item:hover {
  background-color: #3685ec;
}
.navi .navi_item1 {
  background-color: #2676e3;
}
.navi ul li {
  font-size: 14px;
}

/* -----------------服务栏样式-------------------- */
/* 初始化的样式留一份就好了，在上面 */
.service_item {
  width: 170px;
  height: 78px;
  /*border: 1px solid green;*/
  float: left;
}
.service_item dt {
  text-align: center;
}
.service_item dd {
  text-align: center;
}
/*
    目前已知的居中方式有两种
        ① 行内元素 text-align: center;
        ② 块元素 margin:auto; (水平居中)
                line-height = 块高 ; (上下居中)
  */
.service_item a {
  /*是a超链接产生的下划线 所以是去a的text-decoration 而不是font标签的*/
  text-decoration: none;
}
.service_item font {
  font-size: 14px;
  color: rgb(94, 94, 94);
}
#service {
  width: 1190px;
  height: 78px;
  margin: auto;
  /*border: 1px solid green;*/
  margin-top: 300px;
}

/* --------------旅游栏样式---------------------- */
.travel_item {
  width: 288px;
  height: 242px;
  border: 1px solid gray;
  float: left;
  margin: 5px;
}
.travel_item a {
  text-decoration: none;
}
.travel_item p {
  color: black;
  font-size: 14px;
  line-height: 40px;
}
.travel_item p:hover {
  color: rgb(59, 153, 252);
}
.travel_item span {
  color: #ff8201;
  font-size: 20px;
}
.travel_item font {
  font-size: 14px;
}
.travel_item dt {
  /*注意这里设置的是文字的内边距 不是设置像div块的内边距*/
  padding-left: 10px;
  /*margin-left: 10px;*/
}
#travel {
  width: 1200px;
  height: 508px;
  /*border: 1px solid green;*/
  margin: auto;
  margin-top: 50px; /*对外div大小无影响 对外扩展*/
  /*padding-top: 50px;*/ /*用padding会导致外div的高度变长 对内扩展*/
}

/* ---------------介绍栏样式------------------------ */
.introduce {
  width: 388px;
  height: 298px;
  border: 1px solid rgb(59, 153, 252);
  float: left;
}
.introduce h3 {
  height: 40px;
  background-color: rgb(59, 153, 252);
  color: white;
  text-align: center;
  line-height: 40px; /*行高40个像素，这样就可以基于上下左右居中了*/
}
.introduce ul {
  margin-left: 50px;
  margin-top: 30px;
}
.introduce a {
  text-decoration: none;
  font-size: 14px;
  color: rgb(51, 51, 51);
}
.introduce li {
  height: 40px;
  list-style: none;
  /* 
    路径问题（蓝色小方块.png图片不显示问题）
    相对路径 相对于当前文件本身的路径
    HTML,CSS/css
    HTML,CSS/css/img/蓝色小方块.png 该路径不存在
    HTML,CSS/css/../img/蓝色小方块.png  路径存在 css 和 .. 相互抵消
    HTML,CSS/img/蓝色小方块.png
    .. 向上一层目录（文件夹）
  */
  list-style-image: url(../img/蓝色小方块.png);
}
.introduce a:hover {
  color: black;
}
.outerintroduce {
  width: 1190px;
  height: 300px;
  /*border: 1px solid green;*/
  margin: auto;
  margin-top: 20px;
}
#in1,
#in2 {
  margin-right: 10px;
}

/* -------------提示栏样式--------------------------- */
.note {
  height: 396px;
  width: 50px;
  /*border: 1px solid green;*/
  position: fixed;
  right: 0px;
  top: 150px;
}
.note_item1,
.note_item2 {
  width: 50px;
  /*border: 1px solid red;*/
}
.note_item1 {
  height: 86px;
  margin-bottom: 5px;
}
.note_item2 {
  height: 123px;
}

/* -------------广告栏样式-------------------- */
/*
        如果块内的其他标签大小超过块的边界，则不会被束缚在块里面
        否则由块决定位置所在
      */
.ad {
  width: 1190px;
  height: 340px;
  /*border: 1px solid red;*/
  margin: auto;
}
.ad_item {
  width: 590px;
  height: 160px;
  /*border: 1px solid red;*/
  float: left;
}
.ad_item img {
  width: 590px;
  height: 160px;
}
#ad1,
#ad3 {
  margin-right: 10px;
}
#ad1,
#ad2 {
  margin-bottom: 20px;
}
